@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body { 
    font-family: 'Gowun Dodum', sans-serif; 
}

.accordion-content { 
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease-out; 
}

.accordion-content.open { 
    max-height: 2000px; 
}

.timeline-item:last-child .timeline-line { 
    display: none; 
}